In [1]:
import pandas as pd
import numpy as np

In [2]:
path = './data/Bengaluru_House_Data_Cleaned.csv'

df = pd.read_csv(path)

In [3]:
df.head()

              location  total_sqft  bath  price  bhk
0  1st Block Jayanagar      2850.0   4.0  428.0    4
1  1st Block Jayanagar      1630.0   3.0  194.0    3
2  1st Block Jayanagar      1875.0   2.0  235.0    3
3  1st Block Jayanagar      1200.0   2.0  130.0    3
4  1st Block Jayanagar      1235.0   2.0  148.0    2

In [4]:
df = pd.get_dummies(df, columns=['location'], drop_first=True)

In [5]:
df.head()

,total_sqft,bath,price,bhk,location_1st Block Koramangala,location_1st Phase JP Nagar,location_2nd Phase Judicial Layout,location_2nd Stage Nagarbhavi,location_5th Block Hbr Layout,location_5th Phase JP Nagar,...,location_Vishveshwarya Layout,location_Vishwapriya Layout,location_Vittasandra,location_Whitefield,location_Yelachenahalli,location_Yelahanka,location_Yelahanka New Town,location_Yelenahalli,location_Yeshwanthpur,location_other
0,2850.0,4.0,428.0,4,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1,1630.0,3.0,194.0,3,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2,1875.0,2.0,235.0,3,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
3,1200.0,2.0,130.0,3,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
4,1235.0,2.0,148.0,2,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False

In [6]:
# Normalizing the data
for column in ['total_sqft', 'bath', 'price', 'bhk']:
    df[column] = (df[column] - df[column].mean()) / df[column].std()

In [7]:
X = df.drop('price', axis=1).values
y = df['price'].values.reshape(-1, 1)

In [8]:
split_idx = int(0.8 * len(X))
X_train, X_test = X[:split_idx], X[split_idx:]
y_train, y_test = y[:split_idx], y[split_idx:]

print(X_train.shape, X_test.shape, y_train.shape, y_test.shape)

(5920, 257) (1481, 257) (5920, 1) (1481, 1)

In [9]:
def sigmoid(x):
    return 1 / (1 + np.exp(-x))

In [10]:
def layer_sizes(X, Y):
    n_x = X.shape[1] # size of input layer
    n_y = Y.shape[1] # size of output layer
    return n_x, n_y

In [11]:
def initialise_parameters(n_x, n_y):
    np.random.seed(2)
    W = np.random.randn(n_x, n_y) * 0.01
    b = np.zeros((n_y, 1))

    parameters = {
        "W": W,
        "b": b,
    }

    return parameters

In [48]:
def forward_propagation(X, parameters):
    W = parameters["W"]
    b = parameters["b"]

    Z = np.dot(W.T, X.T) + b
    A = sigmoid(z for z in Z)

    return A

In [49]:
def compute_cost(A, Y):
    m = Y.shape[0]

    cost = -1 / m * np.sum(Y * np.log(A).T + (1 - Y) * np.log(1 - A).T)

    return cost

In [50]:
def backward_propagation(X, Y, A):
    m = X.shape[0]

    dZ = A - Y.T
    dW = (1 / m) * np.dot(dZ, X)
    db = (1 / m) * np.sum(dZ)

    return dW, db

In [51]:
def update_parameters(parameters, dW, db, learning_rate):
    W = parameters["W"]
    b = parameters["b"]

    W = W - learning_rate * dW
    b = b - learning_rate * db

    parameters = {
        "W": W,
        "b": b,
    }

    return parameters

In [52]:
def nn_model(X, Y, num_iterations=100, learning_rate=0.01):
    n_x, n_y = layer_sizes(X, Y)
    parameters = initialise_parameters(n_x, n_y)

    for i in range(num_iterations):
        A = forward_propagation(X, parameters)
        cost = compute_cost(A, Y)
        dW, db = backward_propagation(X, Y, A)
        parameters = update_parameters(parameters, dW, db, learning_rate)

        if i % 100 == 0:
            print(f"Cost after iteration {i}: {cost}")

    return parameters

In [53]:
parameters = nn_model(X_train, y_train, num_iterations=1000, learning_rate=0.1)

TypeError: bad operand type for unary -: 'generator'